<!DOCTYPE html>
<html>
  <body>
 <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <header>

<!---
  <a href="#" class="w3-bar-item w3-button w3-right">London</a>
  <a href="#" class="w3-bar-item w3-button w3-right">Paris</a>
  <a href="#" class="w3-bar-item w3-button w3-right">Tokyo</a>
</div>
-->


<div class="w3-bar w3-purple">
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item">Welcome to Life Long Education</div> </button>
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item">   </div> </button>
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item">   </div> </button>
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item">   </div> </button>
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item">   </div> </button>
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item">   </div> </button>
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item">   </div> </button>
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item"><a href="{{ url_for('institute') }}">Institutions</a></div> </button>
  <button class="w3-btn w3-round-xlarge"><div class="w3-bar-item"><a href="{{ url_for('courses') }}">Courses</a></div> </button>
  <button class="w3-btn w3-round-xlarge" w3-right><div class="w3-bar-item"><a href="{{ url_for('student') }}">Students</a></div> </button>
  <button class="w3-btn w3-round-xlarge" w3-right> <div class="w3-bar-item"><a href="{{ url_for('faculty') }}">Faculty</a></div> </button>
</div>
    
    <div class="w3-container">
    <h2> Online Education </h2>
    Online learning has become an integral component of higher education, 
    as is evident by the steady emergence and growth of online course offerings and 
    online academic and professional degree programs. In most fields and disciplines,
     students can take advantage of a broad range of online learning opportunities, 
     from individual online courses to fully online undergraduate, certificate, 
     and graduate programs. However, choosing from among the many options for
      advancing one’s academic and career goals through an online program can be a challenge.
    </div>
    <div class="w3-container">
    <h2> Exceptional flexibility </h2>
        <li>Online classes, always on – 24/7/365. </li>
        <li>Highly rated 1-on-1 support, available 20 hours a day, 5 days a week.</li>
        <li> Start your degree when you’re ready, with up to 18 opportunities a year.</li>
    </div>
<div class="w3-container">
<h2> Career-relevant education </h2>
   <li> More than 100 online programs aligned to 300+ real-world occupations.</li>
    <li>Career Services for Life™. While outside career advising can cost over $200/hour, we’ve built it right into your degree at no added cost, for life.</li>
      <li>Our instructors are accomplished professionals who average 26+ years of experience. And over 85% of our students would recommend their instructors to others.</li>
</div>
    
    <footer class="w3-container w3-purple">
  <div class="w3-bar w3-purple">
  <button class="w3-btn w3-hover-white w3-round-xlarge"> <div class="w3-bar-item">Follow Us</div> </button>
  <button class="w3-btn w3-hover-white w3-round-xlarge"> <div class="w3-bar-item">   </div> </button>
  <button class="w3-btn w3-hover-black w3-round-xlarge"><div class="w3-bar-item"><a href="{{ url_for('testimony') }}">Sucess Stories</a></div> </button>
  <button class="w3-btn w3-round-xlarge"><div class="w3-bar-item"><a href="{{ url_for('career') }}">Career</a></div> </button>
  <button class="w3-btn w3-round-xlarge"> <div class="w3-bar-item"><a href="{{ url_for('about') }}">About US</a></div> </button>
  <button class="w3-btn w3-round-xlarge"><div class="w3-bar-item"><a href="{{ url_for('contact') }}">Contact Us</a></div> </button>
  <button class="w3-btn w3-round-xlarge" w3-right><div class="w3-bar-item"><a href="{{ url_for('twitter') }}">Twitter</a></div> </button>
  <button class="w3-btn w3-round-xlarge" w3-right> <div class="w3-bar-item"><a href="{{ url_for('facebook') }}">Facebook</a></div> </button>
  <button class="w3-btn w3-round-xlarge" w3-right> <div class="w3-bar-item"><a href="{{ url_for('instagram') }}">Instagram</a></div> </button>
</div>
</footer>

  </body>
</html>